.home {
    width: 100%;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #3e497a;
    background-color:rgb(222, 246, 246);
  }
  
  .introduction {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-image: url(../assets/DSC05341.jpg);
    background-size:45% 100%;
    background-repeat: no-repeat;
    /* background-color:rgb(204, 246, 198); */
    background-color:rgb(169, 226, 226);
    color: #f0f0f0;
    font-size:20px;
  }
  
  .introduction h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    position: absolute;
    text-align: left;
    left:47%;
    color: #245026;
    height: 50px;
    transition: all 2s ease-in-out;
    opacity: 0;
  }
  
  .introduction .prompt {
    font-size: 30px;
    position: absolute;
    left:45%;
  }

  .prompt svg {
    font-size: 60px;
    margin: 5px;
    
  }

  .desc {
    font-size: 30px;
    position: absolute;
    left:47%;
    top:70%;
    color: rgb(0, 0, 0);
    transition: all 3s ease-in-out;
    opacity:0;
  }

  .image-about {
    height: 300px;
    width: 300px;
    margin: 20px;
    float: left;
    border-radius: 50%;
  }
  
  .about-me {
    font-size: 35px;
    width: 80%;
    margin-top:200px;
    margin-left:100px;
  }

  .about-me h2 {
    color:rgb(6, 88, 78);
    margin-bottom:100px;
    justify-content:left;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
  }

  .about-me p{
    font-size: 15px;
  }
  
  .bold {
    color:#098;
    display: inline;
  }

  .highlight {
    color:rgb(31, 31, 146);
    font-style: oblique;
    font-weight: bolder;
  }
  
  @media only screen and (max-width: 600px) {
    .introduction h1 {
      font-size: 40px;
    }
  
    .introduction .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .about-me {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .about-me h2 {
      font-size: 30px;
    }
  }
  